/* 
@font-face {
    font-family: 'impact';
    src: url('../fonts/impact/impact.ttf');
} */




* {

    box-sizing: border-box;
  }
  
  html {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    margin: 0;
  }

.site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header {
    padding: 20px;
    background-color: #ff7f00;
    height: 80px;
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: space-between; */

}

.main-nav{
    width: 220px;
}

.main-nav a {
    font-size: 1.175em;
    color: white;
}

footer {
    height: 80px;
    background-color: #ff7f00;
} 


  
.images-wrapper {
    background-color: #e3e3e3;;
    width: 100%;
    /* margin: 10px; */

}

.search{
    color: black;
    background-color: white;
    margin: 0;
}

.images-container{
    margin-left: auto;
    margin-right: auto;
    /* width: 60%; */
    height: 100%;
    padding: 20px;
    background-color: #e3e3e3;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr ;  */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    /* grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); */

    gap: 15px;

} 

.images-container img{
    width: 100%;

}

.images-container img:hover {
    cursor: pointer;
}


canvas {
    width: 170%;
}


.editor {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e3e3e3;
    /* background-color: lightblue; */
    height: 81vh;
}

.meme-txt {
    grid-column: 1/5;
    grid-row: 1/2;
    padding: 15px;
    border-radius: 24px;
    box-shadow: none;
    border: none;
}

.lineUp {
    grid-column: 1/2;
    grid-row: 2/3;

}

.line-down{
    grid-column: 2/3;
    grid-row: 2/3;

}

.add-line{
    grid-column: 5/6;
    grid-row: 1/2;
}

.selectLine {
    grid-column: 3/4;
    grid-row: 2/3;
}

.delete-line {
    grid-column: 4/5;
    grid-row: 2/3;
}


.font-bigger {
    grid-column: 1/2;
    grid-row: 3/4;
}

.font-smaller {
    grid-column: 2/3;
    grid-row: 3/4;
}

.align-left {
    grid-column: 3/4;
    grid-row: 3/4;
}

.align-center {
    grid-column: 4/5;
    grid-row: 3/4;
}

.align-right {
    grid-column: 5/6;
    grid-row: 3/4;
}

.color-picker {
    grid-row: 4/5;
    grid-column: 5/6;
    width:100%;
    height: 100%;
}

button.share {
    font-size: 1.25em;
    color: white;
    grid-row: 5/6;
    grid-column: -3/-1;
    background-color: #ff7f00;
    margin-top: 15px;
    height: 69px;
}




.controls {
    height: 80%;
    margin-right: 6%;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;

    

}


.logo {
    width: 140px;
}



.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}


.round {
    border: none;
    padding: 7px;
    border-radius: 19px;
    /* font-size: 3em; */
    /* width: 1.5em; */
    padding: 10px;

    background-color: white;
}

.round:hover {
    cursor: pointer;
}

button.round img {
    width: 3.75em;
    height: 3.75em;
}

select {
    /* font-size: 2.75em; */
    border: none;
    /* border-radius: 60px; */
    grid-row: 4/5;
    grid-column: 1/5;
    border-radius: 31px;

        
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-evenly {
    justify-content: space-evenly
}

.flex.align-center {
    align-items: center;
}

.flex.align-start {
    align-items: flex-start;
}

@media (max-width: 600px) {
    .images-container{
        margin-left: auto;
        margin-right: auto;
        /* width: 60%; */
        height: 100%;
        padding: 20px;
        background-color: #e3e3e3;
        display: grid;
        /* grid-template-rows: 1fr 1fr 1fr ;  */
        grid-template-columns: 1fr 1fr; 
        /* grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); */
    
        gap: 15px;
    
    } 

    .editor {
        justify-content: space-around;
        display: none;
        flex-direction: column;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* padding: 10px; */
        background-color: #e3e3e3;
        /* background-color: lightblue; */
        height: 81vh;
    }

    .canvas-container {
        width: 76%;
    }

    canvas{
        width: 100%;
    }

    button.round img {
        width: 1.2em;
        height: 1.2em;
    }

    .button {
        height: fit-content;
    }

    .round {
        padding: 0;
    }

    button.share {
        margin-top: 4px;
        height: 35px;
    }

    .controls{
        height: 37%;
        width: auto;
        gap: 7px;
        margin-right: 0;;
    }

}